*.bak
*.iobj
*.ipdb
*.pyc
**/packages
**/TestResults
.sonarqube
/*.patch
/.vs
/cppcheck-*.xml
/cppcheck-install.log
/help/sakura/sakura.hh
/tests/build
/tests/unittests/Win32
/tests/unittests/x64
/Win32
/x64
Backup
build-wrapper-win-x86*
bw-output
doxygen*.log
html
iss-*-*.log
msbuild-*.log
msbuild-*.log.csv
msbuild-*.log.xlsx
sakura-*.zip
sakura-*.zip.md5
set_appveyor_env.bat
sha256.txt
tags
testData_*.txt
UpgradeLog.htm
/tools/googletest
