/*.patch
Backup
*.iobj
*.ipdb
UpgradeLog.htm
/Win32
/x64
/.vs
sakura-*.zip
msbuild-*.log
msbuild-*.log.csv
msbuild-*.log.xlsx
sha256.txt
*.bak
*.pyc
/tests/build
/cppcheck-install.log
/cppcheck-*.xml
set_appveyor_env.bat
tags
testData_*.txt
html
doxygen*.log
.sonarqube
build-wrapper-win-x86.zip
build-wrapper-win-x86
bw-output
