# .gitignore
#

# Visual Studioのデータベースフォルダ
/.vs

# ビルド中間生成物を格納するフォルダ
/build

# ビルド生成物を格納するフォルダ
/ARM64
/MinGW
/x64
/Win32

# Visual StudioのCMake機能がビルド生成物を格納するフォルダ
/out

# GitHubに登録したくないファイル群
*.aps
*.bak
*.dll
*.exe
*.iobj
*.ipdb
*.log
*.pyc
*.vcxproj.user

**/packages
**/TestResults
.sonarqube
/*.patch
/cppcheck-*.xml
Backup
build-wrapper-win-x86*
bw-output
html
sakura-*.zip
tags
testData_*.txt
UpgradeLog.htm

# SonarScanローカル実行用(解析ツールをダウンロードするフォルダ)
.sonar

# SonarScanローカル実行用(SonarScannerのワークフォルダ)
.scannerwork

# SonarScanローカル実行用SONAR_TOKEN
SONAR_TOKEN

# SonarScanローカル実行したときに生成されるテスト結果ファイル
*-googletest.xml

# SonarScanローカル実行したときに生成されるテストカバレッジ記録ファイル
*-coverage.xml

# SonarScanローカル実行の失敗再現用アーカイブ
sonar-cfamily-reproducer.tar.xz

# 旧resource格納フォルダ、bmptoolの出力フォルダになってるので除外する
/resource
