*.kwd text
*.khp text
*.hkn text
*.bat text
Makefile text eol=lf
sakura_rc.h text eol=crlf
*.rc text working-tree-encoding=utf-16le-bom eol=crlf
*.rc2 text working-tree-encoding=utf-16le-bom eol=crlf
