version: 1.0.{build}
image: Visual Studio 2017
install:
- ps: Set-WinSystemLocale ja-JP
- ps: Start-Sleep -s 5
- ps: Restart-Computer
- ps: Start-Sleep -s 5

configuration:
  - Release
  - Debug

platform:
  - Win32

build_script:
- cmd: >-
    call build-all.bat %PLATFORM% %CONFIGURATION%

    echo appveyor_yml

artifacts:
- path: 'sakura-$(platform)-$(configuration).zip'
