version: 1.0.{build}
image: Visual Studio 2017
clone_folder: C:\projects\$(APPVEYOR_ACCOUNT_NAME)\$(APPVEYOR_PROJECT_NAME)_$(APPVEYOR_BUILD_VERSION)
init:
- ps: Set-WinSystemLocale ja-JP
- ps: Start-Sleep -s 5
- ps: Restart-Computer

build_script:
- cmd: >-
    set SLN_FILE=sakura\sakura.sln


    set EXTRA_CMD=/verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

    set MSBUILD_EXE="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe"


    echo %MSBUILD_EXE% %SLN_FILE% /p:Platform=x86 /p:Configuration=Debug      /t:"Clean","Rebuild"  %EXTRA_CMD%
         %MSBUILD_EXE% %SLN_FILE% /p:Platform=x86 /p:Configuration=Debug      /t:"Clean","Rebuild"  %EXTRA_CMD%

    echo %MSBUILD_EXE% %SLN_FILE% /p:Platform=x86 /p:Configuration=Release    /t:"Clean","Rebuild"  %EXTRA_CMD%
         %MSBUILD_EXE% %SLN_FILE% /p:Platform=x86 /p:Configuration=Release    /t:"Clean","Rebuild"  %EXTRA_CMD%

    echo appveyor_yml

artifacts:
- path: sakura\Debug\sakura.exe
- path: sakura\Debug\sakura.pdb
- path: sakura_lang_en_US\Debug\sakura_lang_en_US.dll
- path: sakura\Release\sakura.exe
- path: sakura\Release\sakura.pdb
- path: sakura_lang_en_US\Release\sakura_lang_en_US.dll
