version: 1.0.{build}
image:
  - Visual Studio 2017
  - Visual Studio 2019 Preview

configuration:
  - Debug
  - Release

platform:
  - Win32
  - x64
  - MinGW

# see "Skip commits" at https://www.appveyor.com/docs/how-to/filtering-commits/#commit-files-github-and-bitbucket-only
skip_commits:
  files:
    - '*.md'
    - .gitignore
    - .editorconfig
    - 'azure-pipelines*.yml'
    - 'ci/azure-pipelines/template*.yml'
    - '.github/*.md'
    - '.github/ISSUE_TEMPLATE/*.md'

install:
- cmd: |
    pip install openpyxl --user
    choco upgrade vswhere -y
    C:\msys64\usr\bin\bash --login -c "pacman -S --noconfirm mingw-w64-x86_64-gtest"

build_script:
- cmd: |
    build-all.bat %PLATFORM% %CONFIGURATION%
    tests\build-and-test.bat %PLATFORM% %CONFIGURATION%

artifacts:
  - path: 'sakura-*$(platform)-$(configuration)*.zip'
  - path: 'sakura-*$(platform)-$(configuration)*.zip.md5'
  - path: 'sha256.txt'
