version: 1.0.{build}
image: Visual Studio 2017
install:
- ps: Set-WinSystemLocale ja-JP
- ps: Start-Sleep -s 10
- ps: Restart-Computer
- ps: Start-Sleep -s 10

configuration:
  - Release
  - Debug

platform:
  - Win32
  - x64

build_script:
- cmd: >-
    call build-all.bat %PLATFORM% %CONFIGURATION%

    call tests\build-and-test.bat %PLATFORM% %CONFIGURATION%

    echo appveyor_yml

artifacts:
- path: 'sakura-*$(platform)-$(configuration)*.zip'
