version: 1.0.{build}
image: Visual Studio 2017
install:
- ps: Set-WinSystemLocale ja-JP
- ps: Start-Sleep -s 5
- ps: Restart-Computer
- ps: Start-Sleep -s 5

configuration:
  - Release
  - Debug

platform:
  - Win32
  - x64

build_script:
- cmd: >-
    set SLN_FILE=sakura.sln

    echo PLATFORM      %PLATFORM%

    echo CONFIGURATION %CONFIGURATION%

    call build-sln.bat %PLATFORM% %CONFIGURATION%

    call build-chm.bat

    call build-installer.bat %PLATFORM% %CONFIGURATION%

    call zipArtifacts.bat %PLATFORM% %CONFIGURATION%

    echo appveyor_yml

artifacts:
- path: 'sakura-$(platform)-$(configuration).zip'
