BODY {
	MARGIN: 2em 5%; LINE-HEIGHT: 1.5; FONT-FAMILY: "‚l‚r ‚oƒSƒVƒbƒN", sans-serif, "Verdana", "Arial", "Helvetica"
}
A:link {
	COLOR: #f03; BACKGROUND-COLOR: transparent
}
A:visited {
	COLOR: #903; BACKGROUND-COLOR: transparent
}
A:hover {
	COLOR: #000; BACKGROUND-COLOR: #fab
}
A:link IMG {
	BORDER-LEFT-COLOR: #f03; BORDER-BOTTOM-COLOR: #f03; BORDER-TOP-COLOR: #f03; BORDER-RIGHT-COLOR: #f03
}
A:visited IMG {
	BORDER-LEFT-COLOR: #903; BORDER-BOTTOM-COLOR: #903; BORDER-TOP-COLOR: #903; BORDER-RIGHT-COLOR: #903
}
A:hover IMG {
	BORDER-LEFT-COLOR: #fab; BORDER-BOTTOM-COLOR: #fab; BORDER-TOP-COLOR: #fab; BORDER-RIGHT-COLOR: #fab
}
HR {
	BORDER-LEFT-COLOR: #666; BORDER-BOTTOM-COLOR: #666; MARGIN: 1em; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #666; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; HEIGHT: 2px; BORDER-RIGHT-COLOR: #666; BORDER-BOTTOM-STYLE: solid
}
H1 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #f28; BORDER-BOTTOM-COLOR: #f28; PADDING-BOTTOM: 0.2em; BORDER-TOP-COLOR: #f28; LINE-HEIGHT: 1; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #fee; BORDER-RIGHT-COLOR: #f28
}
H2 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #f28; BORDER-BOTTOM-COLOR: #f28; PADDING-BOTTOM: 0.2em; BORDER-TOP-COLOR: #f28; LINE-HEIGHT: 1; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #fee; BORDER-RIGHT-COLOR: #f28
}
H3 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #f28; BORDER-BOTTOM-COLOR: #f28; PADDING-BOTTOM: 0.2em; BORDER-TOP-COLOR: #f28; LINE-HEIGHT: 1; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #fee; BORDER-RIGHT-COLOR: #f28
}
H4 {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; BORDER-LEFT-COLOR: #f28; BORDER-BOTTOM-COLOR: #f28; PADDING-BOTTOM: 0.2em; BORDER-TOP-COLOR: #f28; LINE-HEIGHT: 1; PADDING-TOP: 0.2em; BACKGROUND-COLOR: #fee; BORDER-RIGHT-COLOR: #f28
}
H1 {
	BORDER-RIGHT: 4px; BORDER-TOP: 4px solid; FONT-SIZE: 1.5em; BORDER-LEFT: 4px; BORDER-BOTTOM: 4px solid
}
H2 {
	BORDER-RIGHT: 2px; BORDER-TOP: 2px solid; MARGIN-TOP: 2em; FONT-SIZE: 1.2em; BORDER-LEFT: 2px; BORDER-BOTTOM: 2px solid
}
H3 {
	BORDER-RIGHT: 2px; BORDER-TOP: 2px; MARGIN-TOP: 1.5em; FONT-SIZE: 1em; BORDER-LEFT: 2px; BORDER-BOTTOM: 2px solid
}
H4 {
	MARGIN-TOP: 1em; FONT-SIZE: 1em; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DL {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1em; BORDER-LEFT: #666 1px solid; MARGIN-RIGHT: 1em; PADDING-TOP: 0px; BORDER-BOTTOM: #666 1px solid
}
DT {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 0.3em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.1em; MARGIN: 0.5em 0px 0px; BORDER-LEFT: 1px; PADDING-TOP: 0.1em; BORDER-BOTTOM: #f28 1px solid; BACKGROUND-COLOR: #fee
}
DD {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.2em; MARGIN: 0px; PADDING-TOP: 0.2em
}
TABLE {
	BORDER-RIGHT: #666 2px solid; BORDER-TOP: #666 2px solid; BORDER-LEFT: #666 2px solid; BORDER-BOTTOM: #666 2px solid; BORDER-COLLAPSE: collapse
}
TH {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #666 1px solid
}
TD {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.1em; BORDER-LEFT: #666 1px solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #666 1px solid
}
P {
	LINE-HEIGHT: 1.5
}
DL {
	LINE-HEIGHT: 1.5
}
UL {
	LINE-HEIGHT: 1.5
}
OL {
	LINE-HEIGHT: 1.5
}
DT {
	FONT-WEIGHT: bold
}
UL {
	LIST-STYLE-TYPE: square
}
EM {
	COLOR: #909; BACKGROUND-COLOR: transparent
}
STRONG {
	COLOR: #909; BACKGROUND-COLOR: transparent
}
STRONG {
	BORDER-RIGHT: 3px; BORDER-TOP: 3px; BORDER-LEFT: 3px; BORDER-BOTTOM: 3px double
}
.s {
	FONT-SIZE: smaller
}
.title {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; TEXT-ALIGN: center
}
.sub {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.example {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #e0fce8; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
.note {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #cdf; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}

.li200 {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; PADDING-LEFT: 2em;
}

.li300 {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; PADDING-LEFT: 3em;
}

.li400 {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; PADDING-LEFT: 4em;
}

.li600 {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; PADDING-LEFT: 6em;
}

.li1400 {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; PADDING-LEFT: 14em;
}

.li1600 {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; PADDING-LEFT: 16em;
}

.fs18 {
	MARGIN-TOP: 0em; FONT-SIZE: 90%;
}
