/*.aps
/*.dll
/*.exe
/*.exp
# /*.filters
/*.idb
/*.ilk
/*.ini
/*.lib
/*.ncb
/*.obj
/*.opensdf
/*.opt
/*.pch
/*.pdb
/*.plg
/*.res
/*.sdf
/*.suo
/*.tds
/*.user
# /*.vcxproj
/Debug
/Debug_Ansi
/Debug_Unicode
/Debug_bcc
/Debug_one
/Release_Ansi
/Release_Unicode
/Release_bcc
/Release_one
/Toolkit2003Env.bat
/_UpgradeReport_Files
/ipch
/UpgradeLog.XML
