/*.aps
/*.dll
/*.exe
/*.exp
# /*.filters
/*.idb
/*.ilk
/*.ini
/*.lib
/*.ncb
/*.obj
/*.opensdf
/*.opt
/*.pch
/*.pdb
/*.plg
/*.res
/*.sdf
/*.suo
/*.tds
/*.user
# /*.vcxproj
/Win32
/x64
/Toolkit2003Env.bat
/_UpgradeReport_Files
/ipch
/UpgradeLog.XML
/.vs
