@echo off
rem $Id: $
rem
rem This file is template of Toolkit2003Env.bat
rem Modify installation path of Visual C++ Toolkit 2003
rem   and Platform SDK if you install them in non-standard directory.
rem Never commit "Toolkit2003Env.bat" itself to the sourcecode reposotory.

Set Path=C:\Program Files\Microsoft Platform SDK\Bin\win64;%path%
Set Path=C:\Program Files\Microsoft Platform SDK\Bin;%path%
Set PATH=C:\Program Files\Microsoft Visual C++ Toolkit 2003\bin;%PATH%
Set INCLUDE=C:\Program Files\Microsoft Visual C++ Toolkit 2003\include;%INCLUDE%
Set LIB=C:\Program Files\Microsoft Visual C++ Toolkit 2003\lib;%LIB%
Set Lib=C:\Program Files\Microsoft Platform SDK\Lib;%Lib%
Set Include=C:\Program Files\Microsoft Platform SDK\Include;%Include%
Set Include=C:\Program Files\Microsoft Platform SDK\Include\atl;%Include%
Set Include=C:\Program Files\Microsoft Platform SDK\Include\crt;%Include%
Set Include=C:\Program Files\Microsoft Platform SDK\Include\gl;%Include%
Set Include=C:\Program Files\Microsoft Platform SDK\Include\mfc;%Include%
Set CPU=i386
Set TARGETOS=WINNT
Set APPVER=5.01
doskey > Nul

echo Setting environment for using Microsoft Visual C++ 2003 Toolkit.
echo (If you have another version of Visual Studio or Visual C++ installed and wish
echo to use its tools from the command line, run vcvars32.bat for that version.)
echo.
echo Thank you for choosing the Visual C++ Toolkit 2003!  Get started quickly by
echo building the code samples included in the "Samples" directory.  Each sample
echo includes a short whitepaper discussing the Visual C++ features, and a batch
echo file for building the code.
echo.
echo Type "cl /?" for brief documentation on compiler options.
echo.
echo Visit http://msdn.microsoft.com/visualc/using/documentation/default.aspx for
echo complete compiler documentation.
