<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChmSourceConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ChmSourceConverter.Properties.Settings>
            <setting name="TargetExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.html</string>
                        <string>.css</string>
                        <string>.js</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EscapingFormat" serializeAs="String">
                <value>&amp;#{0};</value>
            </setting>
            <setting name="InputEncoding" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="OutputEncoding" serializeAs="String">
                <value>Shift_JIS</value>
            </setting>
            <setting name="ReplacePattern" serializeAs="String">
                <value>(&lt;meta http-equiv="Content-type" content="text/html; charset=)UTF-8(" */?&gt;)</value>
            </setting>
            <setting name="MaxDegreeOfParallelism" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="OutputBufferSize" serializeAs="String">
                <value>1024</value>
            </setting>
        </ChmSourceConverter.Properties.Settings>
    </userSettings>
</configuration>