BODY
{
    BACKGROUND-COLOR: #fff
}
BODY
{
}

P
{
	LINE-HEIGHT: 1.5;
	text-indent: 1em;
}

H1
{
    BORDER-RIGHT: #000 0px inset;
    BORDER-TOP: #000 0px inset;
    MARGIN-TOP: 0px;
    BORDER-LEFT: #000 0px inset;
    BORDER-BOTTOM: #000 3px inset;
}
H2
{
    BORDER-RIGHT: #000 2px inset;
    BORDER-TOP: #000 0px inset;
    BORDER-LEFT: #000 0px inset;
    COLOR: #210;
    BORDER-BOTTOM: #000 2px inset;
    BACKGROUND-COLOR: #fdd;
}
H3
{
    BORDER-RIGHT: #aa9 1px inset;
    BORDER-TOP: #aa9 0px inset;
    BORDER-LEFT: #aa9 0px inset;
    BORDER-BOTTOM: #aa9 1px inset;
    BACKGROUND-COLOR: #eee;
}
PRE
{
    BORDER-RIGHT: #885 1px inset;
    PADDING-RIGHT: 0.3em;
    BORDER-TOP: #885 1px inset;
    PADDING-LEFT: 0.3em;
    PADDING-BOTTOM: 0.3em;
    BORDER-LEFT: #885 1px inset;
    PADDING-TOP: 0.3em;
    BORDER-BOTTOM: #885 1px inset;
    WHITE-SPACE: pre;
    BACKGROUND-COLOR: #fff
}

TD.description
{
	FONT-SIZE: smaller;
	PADDING-TOP: 0.5em;
	PADDING-LEFT: 0.5em;
    PADDING-RIGHT: 0.5em;
    PADDING-BOTTOM: 0.5em;
}
UL
{
	FONT-SIZE:	90%;
	LINE-HEIGHT:100%;
}
LI
{
    PADDING-BOTTOM: 0.2em;
    PADDING-TOP: 0.2em
}
DT
{
	FONT-WEIGHT:	bold;
	MARGIN-TOP:	20px;
}

TH
{
	FONT-SIZE:	90%;
    BACKGROUND-COLOR:		#fae;
}
TD
{
    BACKGROUND-COLOR:		#fff8ff;
}
