name: SonarCloud

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**/*.md'
      - .gitignore
      - .editorconfig
  pull_request_target:
    types: [opened, synchronize]
    paths-ignore:
      - '**/*.md'
      - .gitignore
      - .editorconfig
  schedule:
    - cron:  '45 7 * * FRI'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  sonar:
    name: Scan
    runs-on: windows-latest

    env:
      BUILD_PLATFORM: x64
      BUILD_CONFIGURATION: Debug

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        ref: '${{ github.event.pull_request.head.sha }}'
        fetch-depth: 0

    - name: Setup environment variables
      id: setup-env
      run: |
        $projectKey = $('${{ github.repository }}' -replace '/', '_')
        echo "project-key=$projectKey" >> $env:GITHUB_OUTPUT
        $branch_name = "-Dsonar.branch.name=${{ github.ref_name }}"
        if ('pull_request' -eq '${{ github.event_name }}' -or 'pull_request_target' -eq '${{ github.event_name }}') {
          $pull_request_number = '${{ github.event.pull_request.number }}'
          $pull_request_key = "-Dsonar.pullrequest.key=$pull_request_number"
          echo "pull-request-key=$pull_request_key" >> $env:GITHUB_OUTPUT
          $pull_request_branch = "${{ github.event.pull_request.head.ref }}"
          $branch_name = "-Dsonar.pullrequest.branch=$pull_request_branch"
          $pull_request_base = "${{ github.event.pull_request.base.ref }}"
          $branch_base = "-Dsonar.pullrequest.base=$pull_request_base"
          echo "branch-base=$branch_base" >> $env:GITHUB_OUTPUT
        }
        echo "branch-name=$branch_name" >> $env:GITHUB_OUTPUT
        echo "output-directory=${{ github.workspace }}\${{ env.BUILD_PLATFORM }}\${{ env.BUILD_CONFIGURATION }}" >> $env:GITHUB_OUTPUT

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Run the normal MSBuild process
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      if: env.SONAR_TOKEN
      run: build-sln.bat ${{ env.BUILD_PLATFORM }} ${{ env.BUILD_CONFIGURATION }}
      shell: cmd

    - name: Install Build Wrapper
      uses: SonarSource/sonarqube-scan-action/install-build-wrapper@v6.0.0

    - name: Build with Build-Wrapper
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      if: env.SONAR_TOKEN
      run: build-wrapper-win-x86-64.exe
        --out-dir bw-output
        MsBuild.exe
        /p:Platform=${{ env.BUILD_PLATFORM }}
        /p:Configuration=${{ env.BUILD_CONFIGURATION }}
        /t:ReBuild

    - name: Install OpenCppCoverage
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      if: env.SONAR_TOKEN
      working-directory: ${{ runner.temp }}
      run: |
        choco install OpenCppCoverage -y
        echo "C:\Program Files\OpenCppCoverage" >> $env:GITHUB_PATH

    - name: Run Tests
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      if: env.SONAR_TOKEN
      run: |
        $env:CMD_TESTS1 = $(Get-ChildItem -Recurse tests1.exe)[0].FullName
        OpenCppCoverage.exe `
          --export_type cobertura:tests1-coverage.xml `
          --modules $env:CMD_TESTS1  `
          --sources ${{ github.workspace }} `
          --working_dir ${{ steps.setup-env.outputs.output-directory }} `
          --cover_children `
          -- `
          $env:CMD_TESTS1 `
          --gtest_output=xml:${{ github.workspace }}\tests1-googletest.xml

    - name: Upload test result
      uses: EnricoMi/publish-unit-test-result-action/windows@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      if: env.SONAR_TOKEN
      with:
        files: |
          *-googletest.xml

    - name: Analyze with SonarQube Scan action
      uses: SonarSource/sonarqube-scan-action@v6.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        LC_ALL: ja_JP.UTF-8
      if: env.SONAR_TOKEN
      with:
        args: >
          "-Dsonar.organization=${{ github.repository_owner }}"
          "-Dsonar.projectKey=${{ steps.setup-env.outputs.project-key }}"
          "-Dsonar.host.url=https://sonarcloud.io"
          ${{ steps.setup-env.outputs.pull-request-key }}
          ${{ steps.setup-env.outputs.branch-name }}
          ${{ steps.setup-env.outputs.branch-base }}
          "-Dsonar.cfamily.compile-commands=bw-output/compile_commands.json"
          "-Dsonar.cfamily.cppunit.reportPath=*-googletest.xml"
          "-Dsonar.cfamily.cobertura.reportPaths=tests1-coverage.xml"
          "-Dsonar.verbose=true"

    - name: Upload Sonar CFamily failure reproducer (if present)
      if: ${{ always() && hashFiles('sonar-cfamily-reproducer.tar.xz') != '' }}
      uses: actions/upload-artifact@v5
      with:
        name: sonar-cfamily-reproducer-${{ runner.os }}-${{ github.run_id }}
        path: sonar-cfamily-reproducer.tar.xz
        if-no-files-found: ignore
        retention-days: 14
